<div class="root">
  <div class="header">
  </div>
  <div class="content">
    <p-dataTable [value]="quants">
      <p-headerColumnGroup>
        <p-row>
          <p-column header="Окна передачи" colspan="2"></p-column>
          <p-column header="Общее количество" colspan="2"></p-column>
        </p-row>
        <p-row>
          <p-column header="Номер поставки"></p-column>
          <p-column header="Окно поставки"></p-column>
          <p-column header="Цветоразмер поставщика"></p-column>
          <p-column header="Общее количество"></p-column>
        </p-row>
      </p-headerColumnGroup>

      <p-column field="brand"></p-column>
      <p-column field="lastYearSale"></p-column>
      <p-column field="thisYearSale"></p-column>
      <p-column field="lastYearProfit"></p-column>
    </p-dataTable>
  </div>
  <div class="footer">
  </div>
</div>
