<div class="root">
  <div class="header">
  </div>
  <div class="content">
    <p-dataTable
      [resizableColumns]="true"
      [editable]="true"
      [selectable]="true"
      [selectionMode]="'multiple'"
      [(selection)]="selectedQuants"
      [dataKey]="'id'"
      [value]="quants">
      <p-headerColumnGroup>
        <p-row>
          <p-column
            [style]="{'width': '55px'}"
          ></p-column>
          <p-column
            [style]="{'width': '255px'}"
            [header]="'Информация'"
          ></p-column>
          <p-column
            [style]="{'width': '255px'}"
            [header]="'Порт'"
          ></p-column>
          <p-column
            [header]="'Окна передачи'"
          ></p-column>
          <p-column
            [style]="{'width': '275px'}"
            [header]="'Кратности'"
          ></p-column>
        </p-row>
      </p-headerColumnGroup>
      <p-column [selectionMode]="'multiple'"
      ></p-column>
      <p-column
      >
        <ng-template let-col let-data="rowData" pTemplate="body">
          <div>
            {{data.brand}}&nbsp;&mdash;&nbsp;{{data.model}}
          </div>
          <div>
            {{data.price}}&nbsp;<i class="fa fa-dollar"></i>
          </div>
        </ng-template>
      </p-column>
      <p-column
        field="point"
      >
      </p-column>
      <p-column
        field="deliveryWindow"
      >
        <ng-template let-col let-windows="rowData" pTemplate="body">
          <div *ngFor="let delWindow of windows['deliveryWindow']">
            <span>
              {{delWindow.deliveryNumber}}
              :&nbsp;
              {{delWindow.start}}
              &nbsp;&mdash;&nbsp;
              {{delWindow.end}}&nbsp;
              ({{delWindow.qty}})
            </span>
          </div>
        </ng-template>
      </p-column>
      <p-column
      >
        <ng-template let-col let-mults="rowData" pTemplate="body">
          <div *ngFor="let delWindow of mults['multiplicity']">
            <span>
              {{delWindow.packType}}
              :&nbsp;
              {{delWindow.mult}}
              &nbsp;&mdash;&nbsp;
              {{delWindow.qty}}
            </span>
          </div>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
  <div class="footer">
    <button class="m-r-1" pButton type="button" label="Принять"></button>
    <button class="m-r-1"
            pButton
            type="button"
            (click)="displayRequestDialog = !displayRequestDialog"
            label="Запрос на изменения"></button>
    <button class="m-r-1" pButton type="button" label="Комментарии"></button>
    <i class="fa fa-2x fa-file-excel-o pointer"></i>
  </div>
</div>
<p-dialog [header]="'Запрос на изменения'"
          [draggable]="false"
          [width]="900"
          [resizable]="true"
          [modal]="true"
          [(visible)]="displayRequestDialog">
  <div class="dialog-root">
    <p-fieldset>
      <p-header>
        Логистика
        <p-checkbox [(ngModel)]="blockedLogistic" [binary]="true"></p-checkbox>
      </p-header>
      <div class="ui-g-6">
        <h4 class="no-wm">Порт</h4>
        <p-dropdown [options]="cities" [filter]="true" [style]="{'width': '100%'}"></p-dropdown>
        <div class="m-t-1"></div>
        <textarea pInputTextarea [placeholder]="'Комментарий'" autoResize="true"></textarea>
      </div>
      <div class="ui-g-6">
        <p-dataTable [value]="logistics" [editable]="true">
          <p-column field="deliveryWindow" header="Окна" [editable]="true" [style]=" {'overflow':'visible' }">
            <ng-template let-col let-window="rowData" pTemplate="body">
              {{window[col.field][0]|date:'dd.MM.y'}} &mdash; {{window[col.field][1]|date:'dd.MM.y'}}
            </ng-template>
            <ng-template let-col let-window="rowData" pTemplate="editor">
              <p-calendar [(ngModel)]="window[col.field]" selectionMode="range" readonlyInput="true" appendTo="body"></p-calendar>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
    </p-fieldset>
    <div class="m-t-1"></div>
    <p-fieldset>
      <p-header>
        Кратности
        <p-checkbox [(ngModel)]="blockedQty" [binary]="true"></p-checkbox>
      </p-header>
      <div class="ui-g-12">
        <p-dataTable [value]="qtys" [editable]="true">
          <p-column field="packType" header="Тип короба" [editable]="true" [style]=" {'overflow':'visible' }">
            <ng-template let-col let-window="rowData" pTemplate="body">
              {{getLabel(window[col.field])}}
            </ng-template>
            <ng-template let-col let-window="rowData" pTemplate="editor">
              <p-dropdown
                [style]="{'width': '100%'}"
                [(ngModel)]="window[col.field]"
                [options]="packTypes" selectionMode="range" readonlyInput="true" appendTo="body"></p-dropdown>
            </ng-template>
          </p-column>
          <p-column field="qty" header="Кратность" [editable]="true" [style]=" {'overflow':'visible' }">
            <ng-template let-col let-window="rowData" pTemplate="body">
              {{window[col.field]}}
            </ng-template>
            <ng-template let-col let-window="rowData" pTemplate="editor">
              <p-spinner
                [style]="{'width': '100%'}"
                [(ngModel)]="window[col.field]"></p-spinner>
            </ng-template>
          </p-column>
          <p-column field="boxQty" header="Кол-во внутр. упаковок" [editable]="true" [style]=" {'overflow':'visible' }">
            <ng-template let-col let-window="rowData" pTemplate="body">
              {{window[col.field]}}
            </ng-template>
            <ng-template let-col let-window="rowData" pTemplate="editor">
              <p-spinner
                [style]="{'width': '100%'}"
                [(ngModel)]="window[col.field]"></p-spinner>
            </ng-template>
          </p-column>
        </p-dataTable>
      </div>
      <div class="ui-g-12">
        <textarea pInputTextarea [placeholder]="'Комментарий'"></textarea>
      </div>
    </p-fieldset>
  </div>
  <p-footer>
    <button class="m-r-1" pButton type="button" label="OK"></button>
    <button class="m-r-1" pButton type="button" label="Cancel"></button>
  </p-footer>
</p-dialog>
